<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="homeTraining">
	
	<resultMap type="homeTraining" id="homeTrainingDB">
		<result property="indexNo" column="index_No" />
		<result property="htNo" column="ht_No" />
		<result property="htMainPhoto" column="ht_Main_Photo" />
		<result property="htType" column="ht_Type" />
		<result property="htTitle" column="ht_Title" />
		<result property="htPart" column="ht_Part" />
		<result property="htLike" column="ht_Like" />
		<result property="htCommentNo" column="ht_Comment_No"/>
		<result property="htHits" column="ht_Hits" />
		<result property="htVideo" column="HT_VIDEO" />
		<result property="htStepTime" column="ht_Step_Time" />
		<result property="htStepType" column="ht_Step_Type" />
		<result property="htStepHard" column="ht_Step_Hard" />
		<result property="htStepKal" column="ht_Step_Kal" />
		<result property="htEnrollDate" column="ht_EnrollDate" />
		<result property="htWriterNo" column="ht_Writer_No"/>
		<result property="htNickname" column="mb_Nickname"/>
		<result property="htExplain" column="ht_Explain"/>
	</resultMap>
	
	<!-- 페이징 처리 - 리스트 불러오기 -->
	<select id="getList" parameterType="homeTrainingPageData"
		resultType="homeTraining" resultMap="homeTrainingDB">
		SELECT *
		FROM (SELECT HOMETRAINING_TB.*,
		ROW_NUMBER() OVER(ORDER BY HT_EnrollDate DESC) AS
		NUM FROM HOMETRAINING_TB
		<choose>
			<when test="type.equals('wholeBody')">
				WHERE HT_TYPE LIKE '1'
			</when>
			<when test="type.equals('abdomen')">
				WHERE HT_TYPE LIKE '2'
			</when>
			<when test="type.equals('upperBody')">
				WHERE HT_TYPE LIKE '3'
			</when>
			<when test="type.equals('lowerBody')">
				WHERE HT_TYPE LIKE '4'
			</when>
			<when test="type.equals('stretching')">
				WHERE HT_TYPE LIKE '5'
			</when>
			<when test="type.equals('dance')">
				WHERE HT_TYPE LIKE '6'
			</when>
			<when test="type.equals('yoga')">
				WHERE HT_TYPE LIKE '7'
			</when>
			<when test="type.equals('fourChallenge')">
				WHERE HT_TYPE LIKE '8'
			</when>
		</choose>
		) WHERE NUM BETWEEN #{start} AND #{end}
	</select>

	<!-- 페이징 처리 - 내비게이션 생성 -->
	<select id="getNavi" resultType="java.lang.Integer">
		SELECT COUNT(*) AS TOTALCOUNT
		FROM HOMETRAINING_TB
	</select>

	<!-- 게시물 불러오기 -->
	<select id="getOne" resultType="homeTraining" resultMap="homeTrainingDB">
		SELECT *
		FROM HOMETRAINING_TB HT,MEMBER_TBL MB 
		WHERE HT.HT_WRITER_NO = MB.MB_INDEX (+) AND HT.INDEX_NO = #{index}
	</select>
	
	
	
	
	<!-- 이전글 다음글 -->
<!-- 	<select id="getpnWriteList" resultType="homeTraining" resultMap="homeTrainingDB" parameterType="homeTraining">
	<![CDATA[
	SELECT * FROM HOMETRAINING_TB WHERE HT_INDEX = #{htIndex}
	UNION ALL(SELECT * FROM HOMETRAINING_TB WHERE HT_INDEX < #{htIndex} ORDER BY HT_INDEX DESC LIMIT 1)
	UNION ALL(SELECT * FROM HOMETRAINING_TB WHERE HT_INDEX > #{htIndex} ORDER BY HT_INDEX ASC LIMIT 1)
	ORDER BY HT_INDEX DESC
	]]>
	</select> -->

</mapper>
