<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="login">
	<resultMap type="member" id="memberDB">
		<result property="mbIndex" column="MB_INDEX" />
		<result property="mbId" column="MB_ID" />
		<result property="mbPwd" column="MB_PWD" />
		<result property="mbName" column="MB_NAME" />
		<result property="mbNickName" column="MB_NICKNAME" />
		<result property="mbGender" column="MB_GENDER" />
		<result property="mbImage" column="MB_IMAGE" />
		<result property="mbPromise" column="MB_PROMISE" />
		<result property="mbAge" column="MB_AGE" />
		<result property="mbPhone" column="MB_PHONE" />
		<result property="mbAddress" column="MB_ADDRESS" />
		<result property="mbInterest" column="MB_INTEREST" />
		<result property="mbGrade" column="MB_GRADE" />
		<result property="mbHeight" column="MB_HEIGHT" />
		<result property="mbWeight" column="MB_WEIGHT" />
		<result property="mbBmi" column="MB_BMI" />
		<result property="mbReport" column="MB_REPORT" />
		<result property="mbEnrollDate" column="MB_ENROLLDATE" />
	</resultMap>


	<select id="login1" parameterType="member" resultType="member" resultMap="memberDB">
		SELECT
		MB_INDEX AS mbIndex,
		MB_ID AS mbId,
		MB_PWD AS mbPwd,
		MB_NAME AS mbName,
		MB_NICKNAME AS mbNickName,
		MB_GENDER AS mbGender,
		MB_IMAGE AS mbImage,
		MB_PROMISE AS mbPromise,
		MB_AGE AS mbAge,
		MB_PHONE AS mbPhone,
		MB_ADDRESS AS mbAddress,
		MB_INTEREST AS mbInterest,
		MB_GRADE AS mbGrade,
		MB_HEIGHT AS mbHeight,
		MB_WEIGHT AS mbWeight,
		MB_BMI AS mbBmi,
		MB_REPORT AS mbReport,
		MB_ENROLLDATE AS mbEnrollDate
		FROM MEMBER_TBL
		WHERE MB_ID = #{mbId} AND MB_PWD = #{mbPwd}
	</select>

	<select id="findId" parameterType="member" resultType="member">
		SELECT
		MB_INDEX AS mbIndex,
		MB_ID AS mbId,
		MB_PWD AS mbPwd,
		MB_NAME AS mbName,
		MB_NICKNAME AS mbNickName,
		MB_GENDER AS mbGender,
		MB_IMAGE AS mbImage,
		MB_PROMISE AS mbPromise,
		MB_AGE AS mbAge,
		MB_PHONE AS mbPhone,
		MB_ADDRESS AS mbAddress,
		MB_INTEREST AS mbInterest,
		MB_GRADE AS mbGrade,
		MB_HEIGHT AS mbHeight,
		MB_WEIGHT AS mbWeight,
		MB_BMI AS mbBmi,
		MB_REPORT AS mbReport,
		MB_ENROLLDATE AS mbEnrollDate
		FROM MEMBER_TBL
		WHERE MB_PHONE = #{mbPhone} AND MB_NAME = #{mbName}
	</select>

	<update id="updatePassword" parameterType="member">
		UPDATE MEMBER_TBL SET MB_PWD = #{mbPwd} WHERE MB_ID = #{mbId}
	</update>


<insert id="joinKaKao" parameterType="member">
      INSERT INTO MEMBER_TBL VALUES(MEMBER_SEQ.NEXTVAL,#{mbId},'','',#{mbNickName},'','','',0,'','','','카카오회원','','','','n',sysdate,0,0,0,0,0,0,0,0,0,0,0,0)
   </insert>

	<select id="existUserFindingId" parameterType="member" resultType="member">
		SELECT
		MB_INDEX AS mbIndex,
		MB_ID AS mbId,
		MB_PWD AS mbPwd,
		MB_NAME AS mbName,
		MB_NICKNAME AS mbNickName,
		MB_GENDER AS mbGender,
		MB_IMAGE AS mbImage,
		MB_PROMISE AS mbPromise,
		MB_AGE AS mbAge,
		MB_PHONE AS mbPhone,
		MB_ADDRESS AS mbAddress,
		MB_INTEREST AS mbInterest,
		MB_GRADE AS mbGrade,
		MB_HEIGHT AS mbHeight,
		MB_WEIGHT AS mbWeight,
		MB_BMI AS mbBmi,
		MB_REPORT AS mbReport,
		MB_ENROLLDATE AS mbEnrollDate FROM MEMBER_TBL WHERE MB_ID = #{mbId}
	</select>

	<select id="kakaoLoginService" parameterType="member" resultType="member">
		SELECT
		MB_INDEX AS mbIndex,
		MB_ID AS mbId,
		MB_PWD AS mbPwd,
		MB_NAME AS mbName,
		MB_NICKNAME AS mbNickName,
		MB_GENDER AS mbGender,
		MB_IMAGE AS mbImage,
		MB_PROMISE AS mbPromise,
		MB_AGE AS mbAge,
		MB_PHONE AS mbPhone,
		MB_ADDRESS AS mbAddress,
		MB_INTEREST AS mbInterest,
		MB_GRADE AS mbGrade,
		MB_HEIGHT AS mbHeight,
		MB_WEIGHT AS mbWeight,
		MB_BMI AS mbBmi,
		MB_REPORT AS mbReport,
		MB_ENROLLDATE AS mbEnrollDate
		FROM MEMBER_TBL
		WHERE MB_ID = #{mbId}
	</select>


	<select id="existUserNickNum" parameterType="member" resultType="member">
		SELECT
		MB_INDEX AS mbIndex,
		MB_ID AS mbId,
		MB_PWD AS mbPwd,
		MB_NAME AS mbName,
		MB_NICKNAME AS mbNickName,
		MB_GENDER AS mbGender,
		MB_IMAGE AS mbImage,
		MB_PROMISE AS mbPromise,
		MB_AGE AS mbAge,
		MB_PHONE AS mbPhone,
		MB_ADDRESS AS mbAddress,
		MB_INTEREST AS mbInterest,
		MB_GRADE AS mbGrade,
		MB_HEIGHT AS mbHeight,
		MB_WEIGHT AS mbWeight,
		MB_ENROLLDATE AS mbEnrollDate FROM MEMBER_TBL WHERE MB_ID = #{mbNickName}
	</select> 

	<insert id="insertSession" parameterType="oneSession">
		INSERT INTO
		OFF_Session_TBL
		VALUES(#{indexNo},#{sessionId},#{sessionIp},#{firstOn},(sysdate-to_date(#{firstOn},'yy/MM/dd hh24:mi:ss'))*24*60*60,#{loginId},#{device},sysdate)
	</insert>
	<delete id="transSession">
	delete On_Session_Tbl where SS_Id = #{id}
	</delete>
	
	
	<select id="selectOneSession" resultType="oneSession">
	 select
	SS_INDEX as indexNo,
    SS_ID as sessionId, 
    SS_IP as sessionIp,  
    SS_FIRSTON as firstOn,
    SS_INVALIDATE as invalidate,
    SS_STATE as state,    
    SS_LOGIN as loginId, 
    SS_DEVICE as device    
	 from ON_session_TBL where SS_Id = #{id}
	</select>
	   
	
</mapper>
