<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/src/main/webapp/resources/SementicUI/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/src/main/webapp/resources/SementicUI/semantic.min.js"></script>
    <title>로그인</title>
    <!-- CSS -->
    <style>
        .contents.login {
            width: 500px;
            height: auto;
            margin: 0 auto;
            border: 1px solid black;
            box-sizing: border-box;
        }
        
        .login_container {
            width: 100%;
            height: 600px;
            border: 1px solid black;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div class="ui center aligned basic segment">
        <div class="ui container">
            <div class="contents login">
                <h1>LOGIN</h1>
                <div class="login_container">
                    <p>소개글 들어가기</p>
                    <div class="ui input">
                        <input type="text" placeholder="아이디">
                        <input type="text" placeholder="PASSWORD"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>