<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">

<resultMap type="community" id="communityDB">
	<result property="postIndex" column="POST_INDEX"/>
	<result property="brdIndex" column="BRD_INDEX"/>
	<result property="postTitle" column="POST_TITLE"/>
	<result property="postContent" column="POST_CONTENT"/>
	<result property="mbIndex" column="MB_INDEX"/>
	<result property="postDateTime" column="POST_DATETIME"/>
	<result property="postComCount" column="POST_COMMENT_COUNT"/>
	<result property="postHit" column="POST_HIT"/>
	<result property="postLike" column="POST_LIKE"/>
	<result property="postImage" column="POST_IMAGE"/>
	<result property="bcaIndex" column="BCA_INDEX"/>
</resultMap>

<!-- 전체게시판 -->
	<select id="allCommunityList" parameterType="community"
		resultType="community" resultMap="communityDB">
		SELECT *
		FROM board_post_tbl
	</select>


	<insert id="registCommunity" parameterType="community">
		INSERT INTO BOARD_POST_TBL
		VALUES(INDEX_NO_SEQ.NEXTVAL,4,#{postTitle},#{postContent},#{bcaIndex},#{mbIndex},SYSDATE,0,0,0,'')
	</insert>

<!-- 비포&애프터 게시판 -->
	<select id="beforeAfterList" parameterType="community"
		resultType="community" resultMap="communityDB">
		SELECT *
		FROM BOARD_POST_TBL
		WHERE BCA_INDEX LIKE '19'
	</select>

<!-- 자유게시판 -->
	<select id="bulletinBoardList" parameterType="community"
		resultType="community" resultMap="communityDB">
		SELECT *
		FROM BOARD_POST_TBL
		WHERE BCA_INDEX like '15'
	</select>


<!-- 팁&노하우 -->
	<select id="tipKnowhowBoardList" parameterType="community"
		resultType="community" resultMap="communityDB">
		SELECT *
		FROM BOARD_POST_TBL
		WHERE BCA_INDEX like '17'
	</select>


<!-- 고민&질문 -->
	<select id="worryNQnABoardList" parameterType="community"
		resultType="community" resultMap="communityDB">
		SELECT *
		FROM BOARD_POST_TBL
		WHERE BCA_INDEX like '18'
	</select>


</mapper>
