<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="spring.kh.diet.model.vo.NoticeVO" alias="notice" />
		<typeAlias type="spring.kh.diet.model.vo.QuestionVO" alias="question" />
		<typeAlias type="spring.kh.diet.model.vo.MemberVO" alias="member" />
		<typeAlias type="spring.kh.diet.model.vo.DietTipVO" alias="dietTip"/>
		<typeAlias type="spring.kh.diet.model.vo.DietTipPDVO" alias="dietTipPageData"/>
		<typeAlias type="spring.kh.diet.model.vo.BoardPostVO" alias="community"/>
		<typeAlias type="spring.kh.diet.model.vo.CommunityPageDataVO" alias="communityPage"/>
		<typeAlias type="spring.kh.diet.model.vo.HealthCenterVO" alias="healthCenter"/>
		<typeAlias type="spring.kh.diet.model.vo.HealthCenterPDVO" alias="healthCenterPage"/>
		<typeAlias type="spring.kh.diet.model.vo.ProductVO" alias="product" />
		<typeAlias type="spring.kh.diet.model.vo.BoardCommentVO" alias="comment"/>
		<typeAlias type="spring.kh.diet.model.vo.BoardCommentPDVO" alias="commentPageData"/>
		<typeAlias type="spring.kh.diet.model.vo.HomeTrainingVO" alias="homeTraining"/>
		<typeAlias type="spring.kh.diet.model.vo.HomeTrainingPageDataVO" alias="homeTrainingPageData"/>
	</typeAliases>

</configuration>