<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="spring.kh.diet.model.vo.NoticeVO" alias="notice" />
		<typeAlias type="spring.kh.diet.model.vo.QuestionVO" alias="question" />
		<typeAlias type="spring.kh.diet.model.vo.MemberVO" alias="member" />
		<typeAlias type="spring.kh.diet.model.vo.DietTipVO" alias="dietTip" />
		<typeAlias type="spring.kh.diet.model.vo.DietTipPDVO" alias="dietTipPageData" />
		<typeAlias type="spring.kh.diet.model.vo.BoardPostVO" alias="community" />
		<typeAlias type="spring.kh.diet.model.vo.CommunityPageDataVO" alias="communityPage" />
		<typeAlias type="spring.kh.diet.model.vo.HealthCenterVO" alias="healthCenter" />
		<typeAlias type="spring.kh.diet.model.vo.HealthCenterPDVO" alias="healthCenterPage" />
		<typeAlias type="spring.kh.diet.model.vo.BoardCommentVO" alias="comment" />
		<typeAlias type="spring.kh.diet.model.vo.BoardCommentPDVO" alias="commentPageData" />
		<typeAlias type="spring.kh.diet.model.vo.HomeTrainingVO" alias="homeTraining" />
		<typeAlias type="spring.kh.diet.model.vo.HomeTrainingPageDataVO" alias="homeTrainingPageData" />
		<typeAlias type="spring.kh.diet.model.vo.MyActivityVO" alias="myActivity" />
		<typeAlias type="spring.kh.diet.model.vo.OnSessionVO" alias="onSession" />
		<typeAlias type="spring.kh.diet.model.vo.OneSessionVO" alias="oneSession" />
		<typeAlias type="spring.kh.diet.model.vo.UpdateSSVO" alias="upDateSSVO" />
		<typeAlias type="spring.kh.diet.model.vo.MemberListPDVO" alias="memberListPageData" /> <!-- 관리자 페이지 리스트 -->
		<typeAlias type="spring.kh.diet.model.vo.BoardLikeVO" alias="boardLike" />
		<typeAlias type="spring.kh.diet.model.vo.BoardBookMarkVO" alias="bookMark" />
		<typeAlias type="spring.kh.diet.model.vo.AllSessionVO" alias="allSession" />
		<typeAlias type="spring.kh.diet.model.vo.QuestionAnswerPDVO" alias="answerListPageData" /> <!-- 1:1문의 페이지 리스트 -->
		<typeAlias type="spring.kh.diet.model.vo.AnswerVO" alias="answer" /> <!-- 1:1문의 페이지 리스트 -->
		<typeAlias type="spring.kh.diet.model.vo.FoodCalVO" alias="foodCal" />
		<typeAlias type="spring.kh.diet.model.vo.HealthCalVO" alias="healthCal" />
		<typeAlias type="spring.kh.diet.model.vo.BoardBlameVO" alias="boardBlame" />
		<typeAlias type="spring.kh.diet.model.vo.HomeTrainingLikeVO" alias="homeTrainingLike" />
		<typeAlias type="spring.kh.diet.model.vo.AllSessionListPDVO" alias="allSessionListPDVO" /> <!--관리자 세션통계 현재접속리스트 -->
		<typeAlias type="spring.kh.diet.model.vo.OffSessionVO" alias="offSessionList" />
		<typeAlias type="spring.kh.diet.model.vo.NoticePDVO" alias="noticePDVO" /> <!-- 공지사항 페이지 리스트 -->
		<typeAlias type="spring.kh.diet.model.vo.MyCommentPageDataVO" alias="myCommentPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.MyPostPageDataVO" alias="myPostPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.MyBookMarkPageDataVO" alias="myBookMarkPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.todayCommentsVO" alias="todayComments" />
		<typeAlias type="spring.kh.diet.model.vo.todayHitsVO" alias="todayHits" />
		<typeAlias type="spring.kh.diet.model.vo.todayLikeVO" alias="todayLike" />
		<typeAlias type="spring.kh.diet.model.vo.todayPostVO" alias="todayPost" />
		<typeAlias type="spring.kh.diet.model.vo.DelMemberVO" alias="delMember" />
		<typeAlias type="spring.kh.diet.model.vo.todayAnalyticPDVO" alias="todayAnalytic" />
		<typeAlias type="spring.kh.diet.model.vo.yesterdayAnalyticsPDVO" alias="yesterdayAnalytic" />
		<typeAlias type="spring.kh.diet.model.vo.yesterdayAnalytic" alias="yesterday" />
		<typeAlias type="spring.kh.diet.model.vo.BlackListRegVO" alias="black" /> <!-- 블랙리스트 회원 조회 -->
		<typeAlias type="spring.kh.diet.model.vo.BlackListContentVO" alias="blackContent" /> <!-- 블랙리스트 신고 내역 조회 -->
		<typeAlias type="spring.kh.diet.model.vo.UpMbSeeVO" alias="upMbSee" />
		<typeAlias type="spring.kh.diet.model.vo.MyQuestionPageDataVO" alias="myQuestionPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.TodayAnalyticsDetail" alias="todayAnalyticsDetail" />
		<typeAlias type="spring.kh.diet.model.vo.TrainingRegVO" alias="trainerReg" />
		<typeAlias type="spring.kh.diet.model.vo.TodayAnalyticsDetail" alias="todayAnalyticsDetail" />
		<typeAlias type="spring.kh.diet.model.vo.MyRequestTrainerPDVO" alias="myRequestTrainerPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.TrainerProgramVO" alias="trainerProgramVO" />
		<typeAlias type="spring.kh.diet.model.vo.ApplyTrainerPDVO" alias="applyTrainerPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.TodayAnalyticsDetail" alias="todayAnalyticsDetail"/>
		<typeAlias type="spring.kh.diet.model.vo.TrainingRegVO" alias="trainerReg"/><!-- 트레이너 전환 신청 -->
		<typeAlias type="spring.kh.diet.model.vo.TrainingRegPageDataVO" alias="trainingRegPDVO"/><!-- 트레이너 전환 신청 페이징 처리 -->
		<typeAlias type="spring.kh.diet.model.vo.TrainerProgramVO" alias="trainerProgram"/>
		<typeAlias type="spring.kh.diet.model.vo.TodayAnalyticsDetail" alias="todayAnalyticsDetail" />
		<typeAlias type="spring.kh.diet.model.vo.MyRequestTrainerPDVO" alias="myRequestTrainerPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.ProgramPageDataVO" alias="programPageData" />
		<typeAlias type="spring.kh.diet.model.vo.TrainerAreaListVO" alias="trainerAreaList" />
		<typeAlias type="spring.kh.diet.model.vo.TrainerProgramMemberVO" alias="trainerProgramMember" />
		<typeAlias type="spring.kh.diet.model.vo.PaymentVO" alias="payment" />
		<typeAlias type="spring.kh.diet.model.vo.ErrorLogVO" alias="errorLog"/>
		<typeAlias type="spring.kh.diet.model.vo.PaymentPDVO" alias="paymentPDVO" />
		<typeAlias type="spring.kh.diet.model.vo.SevenDaysUserVO" alias="servenDays"/>	
	</typeAliases>

</configuration>