<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="spring.kh.diet.model.vo.NoticeVO" alias="notice" />
		<typeAlias type="spring.kh.diet.model.vo.QuestionVO" alias="question" />
		<typeAlias type="spring.kh.diet.model.vo.MemberVO" alias="member" />
		<typeAlias type="spring.kh.diet.model.vo.DietTipVO" alias="dietTip"/>
		<typeAlias type="spring.kh.diet.model.vo.DietTipPageDataVO" alias="dietTipPage"/>
	</typeAliases>

</configuration>