<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main">

	<select id="getList" parameterType="healthCenterPage"
		resultType="healthCenter">
		SELECT
		HC_LOCATION AS hcLocation,
		HC_ADDRESS AS hcAddress,
		HC_PHONE AS hcPhone,
		HC_LATITUDE AS hcLatitude,
		HC_LONGITUDE AS
		hcLongitude
		FROM (SELECT
		HEALTHCENTER_TBL.*, ROW_NUMBER() OVER(ORDER BY
		HC_LOCATION
		ASC) AS NUM
		FROM HEALTHCENTER_TBL) WHERE NUM BETWEEN
		#{start} AND #{end}
	</select>

	<select id="getNavi" resultType="java.lang.Integer">
		select count(*) as totalCount
		from HEALTHCENTER_TBL
	</select>

</mapper>
