<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dietTip">

	<!-- 페이징 처리 - 리스트 불러오기 -->
	<select id="getList" parameterType="dietTipPageData" resultType="dietTip">
		SELECT DT_INDEX AS dtIndex,
		DT_NO AS dtNo,
		DT_TYPE AS dtType,
		DT_TITLE AS dtTitle,
		DT_MAIN_PHOTO AS dtMainPhoto,
		DT_WRITER_NO AS dtWriterNo,
		DT_SAMMARY AS dtSammary,
		DT_EXPLAIN AS dtExplain,
		DT_DATE AS dtDate,
		DT_SEE AS dtSee,
		DT_LIKE AS dtLike
		FROM (SELECT DIETTIP_TB.*,
		ROW_NUMBER() OVER(ORDER BY DT_DATE DESC) AS NUM FROM DIETTIP_TB
		<choose>
			<when test="type.equals('column')">
				WHERE DT_TYPE = 1
			</when>
			<when test="type.equals('sport')">
				WHERE DT_TYPE = 2
			</when>
			<when test="type.equals('dietFood')">
				WHERE DT_TYPE = 3
			</when>
			<when test="type.equals('successLatter')">
				WHERE DT_TYPE = 4
			</when>
		</choose>
		) WHERE NUM BETWEEN #{start} AND #{end}
	</select>

	<!-- 페이징 처리 - 내비게이션 생성 -->
	<select id="getNavi" resultType="java.lang.Integer" parameterType="dietTipPageData">
		SELECT COUNT(*) AS TOTALCOUNT
		FROM DIETTIP_TB
		<choose>
			<when test="type.equals('column')">
				WHERE DT_TYPE = 1
			</when>
			<when test="type.equals('sport')">
				WHERE DT_TYPE = 2
			</when>
			<when test="type.equals('dietFood')">
				WHERE DT_TYPE = 3
			</when>
			<when test="type.equals('successLatter')">
				WHERE DT_TYPE = 4
			</when>
		</choose>
		
	</select>

	<!-- 게시물 불러오기 -->
	<select id="getOne" resultType="dietTip">
		SELECT DT.DT_INDEX AS dtIndex,
		DT.DT_NO AS dtNo,
		DT.DT_TYPE AS dtType,
		DT.DT_TITLE AS dtTitle,
		DT.DT_MAIN_PHOTO AS dtMainPhoto,
		MB.MB_NICKNAME AS dtNickname,
		DT.DT_SAMMARY AS dtSammary,
		DT.DT_EXPLAIN AS dtExplain,
		DT.DT_DATE AS dtDate,
		DT.DT_SEE AS dtSee,
		DT.DT_LIKE AS dtLike
		FROM DIETTIP_TB DT,
		MEMBER_TBL MB WHERE DT.DT_WRITER_NO = MB.MB_INDEX AND DT_INDEX = #{index}
	</select>

</mapper>
