<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/src/main/webapp/resources/SementicUI/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/src/main/webapp/resources/SementicUI/semantic.min.js"></script>
    <title>마이페이지</title>
</head>

<body>
    <div class="ui center aligned basic segment">
        <div class="ui container">
            <div class="contents my">
                <div class="topBanner"></div>
                <div class="ui eight item menu"> 
                    <a class="active item" href="#">내 정보 변경</a> 
                    <a class="item" href="#">내 활동 정보</a> 
                    <a class="item" href="#">적립금</a> 
                    <a class="item" href="#">쿠폰</a> 
                    <a class="item" href="#">1:1 문의</a> 
                    <a class="item" href="#">최근본상품</a> 
                    <a class="item" href="#">찜한상품</a> 
                    <a class="item" href="#">회원탈퇴</a> 
                </div>
            </div>
            <div class="sideBar">
                
            </div>
        </div>
    </div>
</body>

</html>